/* Import roboto flex from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    /* Creative Commons, Source: https://www.deviantart.com/kahatamu/art/F2U-4K-TLG-backgrounds-Purple-sky-906294213     */ 
    background-image: url(../assets/endScreenBackground.jpg);
}

h1 {
    margin: auto;
    text-align: center;
    padding: 10rem;
    font-size: 3rem;
    color: rgb(255, 197, 6); 
}